<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
    <style>
        body{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
        }
        nav a {
            margin: 10px;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<body>
    

    <h1>My Flask Website</h1>
    <nav>
        <a href="/">Home</a> | <a href="/aboutt">About</a> | <a href="/contact">Contact</a>
    </nav><hr>

    {% block content %}
    {% endblock content %}
    <hr>

    <footer>
        <p> &copy 2025 Flask Website by Fateh ullah</p>
    </footer>

</body>
</html>